<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="hyva-magento2-maisondunet-save-quote" xsi:type="array">
                    <item name="original_module" xsi:type="string">Maisondunet_SaveQuote</item>
                    <item name="compat_module" xsi:type="string">Maisondunet_HyvaSaveQuote</item>
                </item>
            </argument>
        </arguments>
    </type>

</config>
